<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="isNavCollapsed = !isNavCollapsed" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">Schlepr</a>
        </div>

        <div class="navbar-collapse collapse" uib-collapse="isNavCollapsed">
            <form class="navbar-form navbar-right" ng-submit="doLogin()" ng-if="!isAuthenticated">
                <div class="form-group">
                    <input type="text" placeholder="Username" class="form-control" id="username" ng-model="loginData.username">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" id="password" ng-model="loginData.password">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>  
                <div class="form-group form-group-block">
                    <a ng-click="openRegisterModal()" href="#">Register</a>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right" ng-if="isAuthenticated">
                <li>
                    <form class="navbar-form">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Search" ng-model="$root.filterText">
                        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                    </div>
                    </form>
                </li>
                <li id="nav-user-dropdown">
                    <div class="btn-group" uib-dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-default navbar-btn" uib-dropdown-toggle ng-disabled="disabled">
                        <span class="glyphicon glyphicon-user"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a><strong>&#64;{{username}}</strong></a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#" ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    </div>
                </li>
                <li id="nav-add-new">
                    <button type="button" class="btn btn-primary navbar-btn" ng-click="openRequestModal()"><strong>Request</strong></button>
                </li>
            </ul>
        </div>
    </div>
</nav>
